{% extends "base.html" %} 
{% block Titulo %} Inicio{% endblock %}
{% load static %}
{% block contenido %}
<div class="container">
    <h2 class="title">CHOOSE FILE</h2>
    <div class="card card-w radius">
        <a class="gif" href="{% url 'inicio' %}">
            <img class="gif" src="{% static 'gifs/hogar.gif' %}" width="5%" />
        </a>
        <div class="card-content"> 
             
            <form method="post" enctype="multipart/form-data" action="{% url 'cargar_json' %}">
                {% csrf_token %}
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Choose File JSON</span>
                        <input type="file" id="file-input" name="archivo_json" accept=".json" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" />
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" id="show-questions">
                    <i class="material-icons">LOAD</i>
                </button>
            </form>
        </div>
    </div>

    <div class="card card-w radius">
        <div class="card-content"> 
            <form id="preguntas-form" method="post" enctype="multipart/form-data" action="{% url 'procesar_respuestas' %}" class="hidden">
                
                {% csrf_token %}
                <div id="preguntas-content" class="hidden">
                    <div class="row" id="preguntas-respuestas">
                        {% for pregunta in preguntas %}
                        {% if forloop.first %}
                        <span class="card-title title">QUESTIONS AND ANSWER</span> 
                        {% endif %} 
                        <div class="input-field col s12">
                            <input type="text" id="respuesta_{{ pregunta.id }}" name="respuesta_{{ pregunta.id }}"
                                class="validate" />
                            <label for="respuesta_{{ pregunta.id }}">{{ pregunta.pregunta }}</label>
                        </div> 
                        {% if forloop.last %}
                        <button class="btn waves-effect waves-light" type="submit">
                            <i class="material-icons">send</i>
                        </button>
                        {% endif %}
                        {% endfor %}
                    </div>
                   
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Agrega el enlace al archivo JavaScript de Materialize -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    const showQuestionsButton = document.getElementById("show-questions");
    const preguntasForm = document.getElementById("preguntas-form");

    showQuestionsButton.addEventListener("click", () => {
        preguntasForm.classList.remove("hidden");
    });
</script>
{% endblock %}