.title {
  text-align: center;
  font-weight: 100;
  font-size: 50px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  margin-top: 0px;
  color: white;
}

.result-title{ 
    font-size: 40px; 
    text-decoration: solid;
    margin-top: 50px;
}

.btn-bl
{
    background-color: #121212;
    color: azure;
}

.container-wh
{
    background-color: azure;
}

.card-w{
    width: 40%;
    margin: 0 auto; /* Centrar horizontalmente */
    background-color: rgb(241, 253, 255);
}
 
.card-w-questions{
    margin-top: 20px;
}

.radius{
    border-radius: 40px;
}
.container-base{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    min-height: 100%; /* Al menos el 100% del alto de la ventana */
    color: aliceblue;
}
 

.container-res{
    width: 1000px;
    background-color: rgb(241, 253, 255);
    margin-bottom: 200px;
    color: #121212;
}

.bl{
    background-color: #121212; /* Color de fondo oscuro */
}

.gif
{
    position: relative;
    left: 10px;
    top: 10px;
}

.gif2
{
    position: relative;
    left: 10px;
    top: -130px;
}
 
.img{ 
   width: 20%;
   margin-left: 35%;
}